<h1 style="text-align: center">Login</h1>
<% if (messages.error) { %>
    <%= messages.error %>
        <% } %>
            <form style="text-align: center" action="/login" method="POST">
                <div>
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" required>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" required>
                </div>

                <button type="submit">Login</button>
            </form>

            <div style="text-align: center">
                <button type="submit"><a href="/register">Register</a></button>
            </div>